@using SS14.Jetfish.Projects.Model

<div style="display:contents">
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
                @MudDialog.Title
            </MudText>
            @if (_displayProgressbar)
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
            }
        </TitleContent>
        <DialogContent>
            <MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors">
                <MudTextField @bind-Value="ProjectName" T="string" Label="Name" Required="true" RequiredError="Project Name is required." MaxLength="@Project.ProjectNameMaxLength"/>
                <MudText Typo="Typo.subtitle1">Background</MudText>
                <div class="d-flex">
                    <MudRadioGroup @bind-Value="SelectedBackgroundSpecifier" T="ProjectBackgroundSpecifier" Required="true" RequiredError="Project Background is required.">
                        <MudRadio Value="ProjectBackgroundSpecifier.Color">Color</MudRadio>
                        <MudRadio Value="ProjectBackgroundSpecifier.Image">Image</MudRadio>
                    </MudRadioGroup>
                </div>
                @if (SelectedBackgroundSpecifier == ProjectBackgroundSpecifier.Color)
                {
                    <MudColorPicker
                        Required="true"
                        Label="Background Color"
                        ColorPickerMode="ColorPickerMode.HEX"
                        ShowModeSwitch="false"
                        ShowToolbar="true"
                        ThrottleInterval="100"
                        PickerVariant="PickerVariant.Inline"
                        @bind-Text="ProjectBackgroundColor"
                        ShowAlpha="false"
                        />
                }
                else
                {
                    <MudFileUpload @bind-Files="ProjectBackgroundFile" MaximumFileCount="1" T="IBrowserFile" Required="true" Accept=".webp, .png, .jpg, .jpeg, .gif">
                        <ActivatorContent>
                            <MudButton
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                StartIcon="@Icons.Material.Filled.Image">
                                Upload Background
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>
                    @if (ProjectBackgroundFile != null)
                    {
                        <MudText Typo="Typo.subtitle2">
                            Selected @ProjectBackgroundFile.Name
                        </MudText>
                    }
                }
            </MudForm>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Color="Color.Success" OnClick="Save">Save</MudButton>
        </DialogActions>
    </MudDialog>
</div>
