@inherits MudComponentBase

<MudPaper Style="min-height: 310px; overflow-y: auto;" Class="@Class">
    <MudStack Style="height: 100%;" Spacing="0">
        <MudToolBar Dense>
            <TooltipButton
                Size="Size.Medium"
                Tooltip="Preview"
                Icon="@(_showPreview ? Icons.Material.Filled.RemoveRedEye : Icons.Material.Outlined.RemoveRedEye)"
                OnClick="@(TogglePreview)"/>
            <MudSpacer/>
            <TooltipButton
                Size="Size.Medium"
                Tooltip="Cancel"
                Icon="@Icons.Material.Outlined.Close"
                OnClick="@(async () => await OnCancel.InvokeAsync())"/>
            <TooltipButton
                Size="Size.Medium"
                Tooltip="Save"
                Icon="@Icons.Material.Outlined.Check"
                OnClick="@(Save)"/>
        </MudToolBar>
        <div style="height: 100%; overflow-y: auto;">
            @if (_showPreview)
            {
                <MarkdownText Text="@Text" Class="editor pa-1" />
            }
            else
            {
                <MarkdownEditorInterop @ref="_editor" Text="@Text" />
            }
        </div>
    </MudStack>
</MudPaper>

@code {

    private bool _showPreview;
    private MarkdownEditorInterop? _editor;

    [Parameter]
    public string? Text { private get; set; }

    [Parameter]
    public EventCallback<string?> OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    public async Task<string?> GetText()
    {
        if (_editor == null)
            return null;

        return await _editor.GetText();
    }

    public async Task ClearText()
    {
        _showPreview = false;
        Text = null;
        if (_editor != null)
            await _editor.SetText("");

        StateHasChanged();
    }

    private async Task Save()
    {
        if (_editor != null)
            Text = await _editor.GetText();

        await OnSave.InvokeAsync(Text);
    }

    private async Task TogglePreview()
    {
        _showPreview = !_showPreview;
        if (_showPreview && _editor != null)
            Text = await _editor.GetText();

        StateHasChanged();
    }
}
