@page "/teams/{teamId:guid}"
@using SS14.Jetfish.Projects.Model
@using SS14.Jetfish.Components.Pages.Teams.Components

<SectionContent SectionName="page-title">Team</SectionContent>
<BackButton Href="/teams"/>
@if(Team == null)
{
    <p>Team not found</p>
    return;
}
<div style="display: contents">
<AuthorizeResource DisplayError="true" ResourceName="team" Policy="@(nameof(Permission.TeamRead))" Resource="@TeamId">
    <MudGrid Spacing="3" Class="pb-4">
        <MudItem md="4" xs="12">
            <MudCard Elevation="1" Class="min-height-80">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText HtmlTag="H3" Typo="Typo.h6">@Team.Name</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton OnClick="Edit" Icon="@Icons.Material.Filled.Edit" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudStack Row="true" Justify="Justify.SpaceBetween">
                            <MudText Typo="Typo.body1">Members:</MudText>
                            <MudText Typo="Typo.body1">@Team.TeamMembers.Count</MudText>
                        </MudStack>
                        <MudStack Row="true" Justify="Justify.SpaceBetween">
                            <MudText Typo="Typo.body1">Projects:</MudText>
                            <MudText Typo="Typo.body1">@Team.Projects.Count</MudText>
                        </MudStack>
                    </MudStack>
                </MudCardContent>
                <MudCardActions>
                    <AuthorizeResource DisplayError="false" Policy="@(nameof(Permission.TeamDelete))" Resource="Team">
                        <MudButton OnClick="Delete" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.DeleteForever" Color="Color.Error">Delete Team</MudButton>
                    </AuthorizeResource>
                    <AuthorizeResource DisplayError="false" Policy="@(nameof(Permission.TeamEdit))" Resource="Team">
                        <MudButton OnClick="EditRoles" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">Edit Roles</MudButton>
                    </AuthorizeResource>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem md="8" xs="12">
            <MudPaper Elevation="1" Class="min-height-80">
                <MemberDataGrid Team="Team" TeamMembers="Team.TeamMembers"/>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Elevation="1" Class="min-height-80">
                <MudToolBar Dense="true">
                    <MudText HtmlTag="h4" Typo="Typo.h6">Projects</MudText>
                    <MudSpacer/>
                    <AuthorizeResource Policy="@(nameof(Permission.ProjectCreate))" Resource="Team">
                        <MudButton OnClick="OnCreateProject" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success">Create Project</MudButton>
                    </AuthorizeResource>
                </MudToolBar>
                <MudDataGrid HeaderClass="" T="Project" ServerData="LoadTeams" Elevation="0">
                    <Columns>
                        <PropertyColumn Title="Name" Property="t => t.Name" />
                        <TemplateColumn HeaderStyle="height: 59px;" Title="Actions" CellStyle="min-height: 61px;" CellClass="d-flex justify-end" HeaderClass="d-flex justify-end">
                            <CellTemplate>
                                <MudTooltip Delay="800" Text="Open Project">
                                    <MudIconButton OnClick="@(() => OnProjectShow(context.Item))" Class="mx-2" Size="Size.Small" Color="Color.Info" Icon="@Icons.Material.Filled.Visibility" aria-label="edit"/>
                                </MudTooltip>
                                <AuthorizeResource Policy="@nameof(Permission.ProjectEdit)" Resource="context.Item">
                                    <MudTooltip Delay="800" Text="Edit">
                                        <MudIconButton OnClick="@(() => OnProjectEdit(context.Item))" Class="mx-2" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" aria-label="edit"/>
                                    </MudTooltip>
                                </AuthorizeResource>
                                <AuthorizeResource Policy="@nameof(Permission.ProjectDelete)" Resource="context.Item">
                                    <MudTooltip Delay="800" Text="Delete">
                                        <MudIconButton OnClick="@(() => OnProjectDelete(context.Item))" Class="mx-2" Size="Size.Small" Color="Color.Secondary" Icon="@Icons.Material.Filled.DeleteForever" aria-label="delete"/>
                                    </MudTooltip>
                                </AuthorizeResource>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            </MudPaper>
        </MudItem>
    </MudGrid>
</AuthorizeResource>
</div>